<!DOCTYPE html>
<html>
<head>
<title>Add Perso</title>
</head>
<body>
<h2>Enter Perso Details </h2>
<form action="/new" method="POST">
  <p>
  <label for="PersoId">Perso Id     : 
    </label><input type="text" name="PersoId"/> <br>
  <label for="PersoName">Perso Name   : 
    </label><input type="text" name="PersoName"/> <br>
  <label for="PersoPrice">Perso Price : 
    </label><input type="number" name="PersoPrice"/> <br>
  <input type="submit"/>
  </p>
</form>
</body>